.about-yoga {
    padding: 40px 0 50px;


    @media (min-width: 768px) {
        padding: 45px 0 80px;
    }

    @media (min-width: 992px) {
        padding: 110px 0 180px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0 30px;

        @media (min-width: 768px) {
            flex-wrap: nowrap;
        }

        @media (min-width: 992px) {
            padding: 0 15px;
        }
    }

    &__text {
        flex:1 0 100%;
        text-align: left;
        margin: 0 -15px;

        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            padding-right: 150px;
            flex: 1 0 35%;
        }

        & > h2 {
            padding-bottom: 20px;

            @media (min-width: 992px) {
                padding-bottom: 10px;
            }
        }

        & > p { 
            margin: 0;
            font-size: 14px;
            font-family: $opensans-font;
            font-weight: $normal;
            color: $color-p;
            line-height: 1.5;
            padding-bottom: 40px;
        }
    }
    
    &__slider {
        position: relative;
        flex:1 0 100%;
        border-radius: 8px;
        box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);

        @media (min-width: 768px) {
            width: 25%;
            flex: 1 0 25%;
            align-self: center;
        }

        & > img {
            display: block;
            width: 100%;
        }
    }
}