$shadow: rgba(0, 0, 0, 0.15);

// default
$black: #000;
$white: #fff;

// blue
$blue: #5262f3;
$default-blue: #5b6ceb;
$copyright-bg: #5363d8;
$copyright-text: #b7bffc;
$hover-btn: rgb(71, 91, 241);
$gallery-hover: rgba(91, 108, 235, .8);

// grey
$border-color: #d7d7d7;
$form-bg: #f2f2f2;
$light-grey: #999999;
$form-text-cl: #888888;
$main-grey: #777777;
$color-p: #555555;

// Fonts
$bold: 700;
$semibold: 600;
$normal: 400;

$frees-font: 'FREESCPT';
$opensans-font: 'Open Sans', sans-serif;
$icomoon-font: 'icomoon';
$champagne-font: 'champagne';
