@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@font-face {
  font-family: "FREESCPT";
  src: url("../fonts/FREESCPT.eot");
  src: url("../fonts/FREESCPT.eot") format("embedded-opentype"), url("../fonts/FREESCPT.woff2") format("woff2"), url("../fonts/FREESCPT.woff") format("woff"), url("../fonts/FREESCPT.ttf") format("truetype"), url("../fonts/FREESCPT.svg#FREESCPT") format("svg");
}
@font-face {
  font-family: "champagne";
  src: url("../champagne__l.woff2") format("woff2"), url("../champagne__l.woff") format("woff"), url("../champagne__l.svg#champagne") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?6jdr41");
  src: url("../fonts/icomoon.eot?6jdr41#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6jdr41") format("truetype"), url("../fonts/icomoon.woff?6jdr41") format("woff"), url("../fonts/icomoon.svg?6jdr41#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-envelop:before {
  content: "";
}

.icon-location2:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-circle-up:before {
  content: "";
}

.icon-circle-right:before {
  content: "";
}

.icon-circle-down:before {
  content: "";
}

.icon-circle-left:before {
  content: "";
}

.icon-google-plus3:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.footer__social > ul, .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features:before, .intro:after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: rgba(83, 99, 219, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.footer__contact--title, .footer__about--title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.contact__link--site, .contact__link--phone, .contact__link--mail, .contact__link--adress {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-decoration: none;
  color: #fff;
  padding: 0 0 35px 35px;
}

.contact__link--site:before, .contact__link--phone > a:before, .contact__link--mail:before, .contact__link--adress:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "icomoon";
  font-size: 18px;
}

body {
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.title-h2 {
  margin: 0;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  color: #5b6ceb;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
}

.header {
  position: relative;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 992px) {
  .header {
    padding: 15px 0;
  }
}

#opener-menu {
  display: none;
}
#opener-menu:checked ~ .opener-menu span {
  opacity: 0;
}
#opener-menu:checked ~ .opener-menu:before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
#opener-menu:checked ~ .opener-menu:after {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
#opener-menu:checked ~ .menu {
  -webkit-transform: translateX(0) scaleX(1);
          transform: translateX(0) scaleX(1);
}

.opener-menu {
  position: relative;
  display: block;
  margin: 15px;
  width: 35px;
  height: 35px;
}
.opener-menu:after, .opener-menu:before, .opener-menu span {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 3px;
  width: 36px;
  background: #5262f3;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}
.opener-menu:before {
  top: 20%;
}
.opener-menu:after {
  top: 80%;
}
@media (min-width: 768px) {
  .opener-menu {
    display: none;
  }
}

.menu {
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  z-index: 5;
  text-align: center;
  top: 100%;
  right: 0;
  background-color: #fff;
  -webkit-transform: translateX(100%) scaleX(0);
          transform: translateX(100%) scaleX(0);
  -webkit-transition: all 0.7s linear;
  transition: all 0.7s linear;
}
@media (min-width: 768px) {
  .menu {
    position: relative;
    top: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
.menu > li {
  padding: 7px 0;
}
.menu > li > a {
  position: relative;
  text-decoration: none;
  color: #555555;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.menu > li > a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 15%;
  right: 15%;
  border-bottom: 2px solid #5262f3;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.menu > li > a:hover {
  color: #5262f3;
}
.menu > li > a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@media (min-width: 768px) {
  .menu > li {
    padding: 20px 0 20px 25px;
  }
}

.intro {
  position: relative;
  z-index: 1;
  background-image: url("../images/bg-01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 65px;
}
@media (min-width: 768px) {
  .intro {
    padding: 65px 0;
  }
}
.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .intro__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.intro__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}
@media (min-width: 768px) {
  .intro__form {
    padding: 0 45px 0 0;
  }
}
.intro__present {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  text-align: center;
  padding: 5px 35px 0;
  color: #fff;
}
@media (min-width: 768px) {
  .intro__present {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 95px 20px 0;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .intro__present {
    padding: 95px 50px 0;
  }
}
.intro__present--title {
  margin: 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 700;
  padding: 0 0 20px;
}
@media (min-width: 768px) {
  .intro__present--title {
    font-size: 40px;
    padding: 0 0 10px;
  }
}
@media (min-width: 992px) {
  .intro__present--title {
    font-size: 48px;
    padding: 0 0 25px;
  }
}
.intro__present--subtitle {
  margin: 0;
  font-family: "FREESCPT";
  font-weight: 400;
  font-size: 28px;
  padding: 0 25px 0;
}
@media (min-width: 768px) {
  .intro__present--subtitle {
    padding: 0 150px 0 0;
  }
}
@media (min-width: 992px) {
  .intro__present--subtitle {
    font-size: 40px;
    padding: 0 180px 0 0;
  }
}

.form {
  margin: 35px auto;
  padding: 30px 30px;
  border-radius: 20px;
  width: 300px;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 768px) {
  .form {
    margin: 40px 0 40px auto;
  }
}
.form > h2 {
  margin: 0;
  padding: 0 0 30px;
  font-size: 26px;
  font-weight: 600;
  color: #5262f3;
  text-transform: uppercase;
}
.form__name, .form__phone, .form__select {
  margin: 0 0 15px;
  padding: 20px 10px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  border-radius: 8px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}
.form__btn {
  display: block;
  cursor: pointer;
  margin-left: auto;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 15px 65px;
  background-color: #5b6ceb;
  border-radius: 8px;
  border: none;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.form__btn:hover {
  background-color: #475bf1;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.program {
  margin: 30px 0 55px;
}
@media (min-width: 768px) {
  .program {
    margin: 115px 0 100px;
  }
}
.program__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.program__title {
  text-align: center;
  font-size: 25px;
}
@media (min-width: 768px) {
  .program__title {
    font-size: 30px;
  }
}
.program__subtitle {
  margin: 0;
  font-size: 30px;
  font-family: "FREESCPT";
  color: #777777;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 768px) {
  .program__subtitle {
    font-size: 40px;
  }
}
.program__cards {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 15px;
}
@media (min-width: 992px) {
  .program__cards {
    padding: 0;
  }
}

.card-yoga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .card-yoga {
    margin: 25px 10px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
  }
}
.card-yoga__img {
  width: 100%;
}
@media (min-width: 768px) {
  .card-yoga__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45%;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}
.card-yoga__info {
  padding: 35px 30px;
}
.card-yoga__info > h2 {
  margin: 0;
  padding-bottom: 35px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #777777;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
@media (min-width: 768px) {
  .card-yoga__info > h2 {
    padding-bottom: 25px;
  }
}
.card-yoga__info > p {
  margin: 0;
  padding-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #555555;
  line-height: 1.5;
  text-align: left;
}
.card-yoga__info > a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #999999;
  line-height: 1.571;
  text-align: left;
}

.gallery {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 75px 0 0;
}
@media (min-width: 768px) {
  .gallery {
    padding: 75px 0 60px;
  }
}
@media (min-width: 992px) {
  .gallery {
    padding: 135px 0 50px;
  }
}
@media (min-width: 992px) {
  .gallery {
    padding: 120px 0 25px;
  }
}
.gallery__img {
  position: relative;
  width: 50%;
}
.gallery__img > img {
  width: 100%;
  height: 100%;
}
.gallery__img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: rgba(91, 108, 235, 0.8);
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.gallery__img:hover:before {
  opacity: 1;
}
.gallery__img:hover .gallery__link {
  opacity: 1;
}
@media (min-width: 768px) {
  .gallery__img {
    width: 25%;
  }
}
.gallery__link {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 43px;
  height: 43px;
  opacity: 0;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 9px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.gallery__link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "icomoon";
  color: #5b6ceb;
}

.about-yoga {
  padding: 40px 0 50px;
}
@media (min-width: 768px) {
  .about-yoga {
    padding: 45px 0 80px;
  }
}
@media (min-width: 992px) {
  .about-yoga {
    padding: 110px 0 180px;
  }
}
.about-yoga__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .about-yoga__wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media (min-width: 992px) {
  .about-yoga__wrapper {
    padding: 0 15px;
  }
}
.about-yoga__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  text-align: left;
  margin: 0 -15px;
}
@media (min-width: 768px) {
  .about-yoga__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 150px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 35%;
            flex: 1 0 35%;
  }
}
.about-yoga__text > h2 {
  padding-bottom: 20px;
}
@media (min-width: 992px) {
  .about-yoga__text > h2 {
    padding-bottom: 10px;
  }
}
.about-yoga__text > p {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #555555;
  line-height: 1.5;
  padding-bottom: 40px;
}
.about-yoga__slider {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .about-yoga__slider {
    width: 25%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.about-yoga__slider > img {
  display: block;
  width: 100%;
}

.features {
  position: relative;
  z-index: 1;
  background-image: url("../images/bg-02.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .features {
    padding: 140px 0 25px;
  }
}
@media (min-width: 992px) {
  .features {
    padding: 140px 0 0;
  }
}
.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px 90px;
  text-align: center;
}
@media (min-width: 768px) {
  .features__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}
.features__items > h3 {
  margin: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  padding: 30px 0;
}
.features__items > p {
  margin: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  line-height: 1.688;
}
.features__img {
  width: 100%;
  height: 50px;
}

.price {
  position: relative;
  z-index: 1;
  background-image: url("../images/bg-03.jpg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}
@media (min-width: 768px) {
  .price {
    padding: 50px 0 20px;
  }
}
@media (min-width: 992px) {
  .price {
    padding: 100px 0 70px;
  }
}
.price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .price__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0;
  }
}
.price__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 30px;
  max-width: 350px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 50px 0px rgba(0, 0, 0, 0.1);
}
.price__cards > a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 0 55px;
  font-weight: 700;
  color: #fff;
  padding: 15px 55px;
  background-color: #5b6ceb;
  border-radius: 20px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
.price__cards > a:hover {
  background-color: #475bf1;
}
.price__cost {
  padding: 35px 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #5b6ceb;
}
.price__cost > h4 {
  margin: 0;
  font-size: 67px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.price__cost > h4 > span {
  font-size: 32px;
  vertical-align: middle;
}
.price__cost > h4 > span:last-child {
  vertical-align: bottom;
  font-size: 18px;
}
.price__details {
  padding: 25px 0 0;
}
.price__details > p {
  margin: 0;
  position: relative;
  padding: 25px 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #555555;
  border-bottom: 1px solid #d7d7d7;
}
.price__details > p:last-child {
  border: none;
}

#footer {
  background-color: #5b6ceb;
  padding: 50px 15px;
}
@media (min-width: 768px) {
  #footer {
    padding: 100px 15px 65px;
  }
}
@media (min-width: 992px) {
  #footer {
    padding: 95px 15px 85px;
  }
}

.footer {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}
@media (min-width: 992px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__about, .footer__contact {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
  .footer__social {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}
.footer__about {
  padding: 0 0 30px;
}
@media (min-width: 992px) {
  .footer__about {
    padding: 0 75px 30px 0;
  }
}
.footer__about--title {
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .footer__about--title {
    padding-bottom: 60px;
  }
}
.footer__about--text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.footer__contact {
  padding: 0 0 35px;
}
@media (min-width: 768px) {
  .footer__contact {
    padding: 0 0 5px;
  }
}
.footer__contact--title {
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .footer__contact--title {
    padding-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .footer__social {
    margin: 15px 0;
  }
}
.footer__social > ul > li {
  display: inline-block;
  font-size: 0;
  margin-right: 15px;
}
.footer__social > ul > li > a {
  text-decoration: none;
  display: block;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
@media (min-width: 992px) {
  .footer__social > ul > li > a {
    font-size: 24px;
  }
}
.footer__social > ul > li > a:hover {
  color: #000;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .contact__link--adress, .contact__link--mail, .contact__link--phone, .contact__link--site {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0 0 25px 35px;
  }
}
.contact__link--adress:hover, .contact__link--mail:hover, .contact__link--site:hover {
  text-decoration: underline;
}
.contact__link--adress:before {
  content: "";
}
.contact__link--adress > p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}
.contact__link--adress > p:first-child {
  margin-bottom: 10px;
}
.contact__link--mail {
  font-size: 14px;
  font-weight: 400;
}
.contact__link--mail:before {
  content: "";
}
.contact__link--phone {
  font-size: 14px;
  font-weight: 400;
}
.contact__link--phone > a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.contact__link--phone > a:first-child {
  margin-bottom: 10px;
}
.contact__link--phone > a:before {
  content: "";
}
.contact__link--phone > a:hover {
  text-decoration: underline;
}
.contact__link--site {
  font-size: 14px;
  font-weight: 400;
}
.contact__link--site:before {
  content: "";
}

.copyright {
  padding: 45px 0;
  text-align: center;
  background-color: #5363d8;
}
@media (min-width: 768px) {
  .copyright {
    padding: 5px 0;
  }
}
@media (min-width: 768px) {
  .copyright {
    padding: 25px 0;
  }
}
.copyright > p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #b7bffc;
}